<form action="/tasks" accept-charset="UTF-8" method="post">
  <label for="task_title">Title</label>
  <input type="text" name="task[title]" id="task_title">
  <label for="task_details">Details</label>
  <textarea name="task[details]" id="task_details"></textarea>
  <label for="task_completed">Completed</label>
  <input type="checkbox" name="task[completed]" id="task_completed">
  <input type="submit" value="Create Task">
</form>
